{% extends "base.html.j2" %}
{% block content %}
    <img src="{{ url_for('static', filename='wordmark.svg') }}"
         alt="Time Ninja"
         style="display: block;
                align-self: left;
                max-width: 100vw;
                max-height: 10vh">
    <small>© Max Burgess 2023
        <br>
    All rights reserved</small>
    <h2>Events</h2>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ file.link }}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
